# ВАЖНО! Если будете собирать Electron.js приложение. Лучше удалить все комментарии из .env файла

DB_NAME="vchat_db"
DB_USER="postgres"
DB_PASSWORD="secret5"

# ИНФРАСТРУКТУРНЫЕ ПЕРЕМЕННЫЕ (Docker)
# dev или prod
NODE_ENV="dev"
# prod.default.conf - для прода. Там будет SSL, потому что без SSL браузеры не дают сайту доступ к микрофону и камере :(
NGINX_CONFIG_FILE="dev.default.conf"

# wss - для prod | ws - для dev
REACT_APP_WS_PROTOCOL="ws"
# для разработки локальный IP вашего компуктера, но не localhost!!!. для запуска в прод Ваш домен типа vchat.example.com
REACT_APP_DOMAIN="192.168.1.100"
# для разработки можно 80. Для прода надо 443, потому что там будет "проксирование" с /ws на докер контейнер с вебсокетом
REACT_APP_PORT="80"

# СЕРВЕРНЫЕ ПЕРЕМЕННЫЕ (mediasoup)
# тут для локальной разработки сделайте IP вашей "машины" или для прода, но не localhost!!!. Внешний IP сервера где запущен ваш SFU сервер
ANNOUNCED_IP="192.168.1.100"
# начальный порт для Mediasoup воркера
MEDIASOUP_MIN_PORT="40000"
# Ваще в теории достаточно указать порт равный минимальному + кол-во ядер на серваке. Но я не заморачивался и выделил сразу "много"
MEDIASOUP_MAX_PORT="40020"

# ОСТАЛЬНЫЕ ПЕРЕМЕННЫЕ
# Уникальные имена комнат. Без пробелов!!!
ROOMS_LIST="PVP-1,PVP-2,PVE-1,PVE-2,ARENA-1,ARENA-2,RAGEMP,VALHEIM,VALORANT,OTHER"

# Версии фронта и бэкенда, чтобы ElectronJS приложение могло "понять", когда пользователю показать сообщение, что нужно обновиться
# Также не забудьте обновить версию в package.json, чтобы она совпадала с REACT_APP_CLIENT_VERSION
REACT_APP_CLIENT_VERSION="2.0.5"
SERVER_VERSION="2.0.5"
