networks:
  vchat_network:
    driver: bridge
    name: vchat_network

services:
  api_server:
    build:
      context: server/
    restart: unless-stopped
    environment:
      - PORT=${PORT:-8080}
      - NODE_ENV=${NODE_ENV:-production}
    ports:
      - "${SERVER_PORT:-8080}:${PORT:-8080}"
    networks:
      - vchat_network

  turn_server:
    image: coturn/coturn:4.7.0-r2
    restart: unless-stopped
    command:
      - "--log-file=stdout"
      - "--external-ip=${REACT_APP_COTURN_IP}"
      - "--realm=${REACT_APP_COTURN_IP}"
      - "--user=${REACT_APP_COTURN_USER}:${REACT_APP_COTURN_PASSWORD}"
      - "--listening-port=${COTURN_PORT:-3478}"
      - "--lt-cred-mech"
      - "--no-cli"
      - "--no-tls"
      - "--no-dtls"
    ports:
      - "${COTURN_PORT:-3478}:3478/udp"
      - "${COTURN_PORT:-3478}:3478/tcp"
    networks:
      - vchat_network

  frontend:
    image: nginx:1.29.3
    restart: unless-stopped
    environment:
      - APP_DOMAIN=${APP_DOMAIN}
      - REACT_APP_COTURN_IP=${REACT_APP_COTURN_IP}
      - NGINX_CONFIG_FILE=${NGINX_CONFIG_FILE}
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/prod.default.conf.template:/etc/nginx/conf.d/prod.default.conf.template
      - ./docker/nginx/dev.default.conf.template:/etc/nginx/conf.d/dev.default.conf.template
      - ./docker/nginx/entrypoint.sh:/docker-entrypoint.sh
      - ./build:/var/www/html
      - ./docker/certbot/www:/var/www/certbot
      - ./docker/certbot/conf:/etc/nginx/ssl
    entrypoint: [ "/bin/sh", "/docker-entrypoint.sh" ]
    ports:
      - "${NGINX_HTTP_PORT:-80}:80"
      - "${NGINX_HTTPS_PORT:-443}:443"
    networks:
      - vchat_network

  npm:
    image: node:20.17
    working_dir: /var/www/html
    entrypoint: [ "npm" ]
    volumes:
      - "./:/var/www/html"
    networks:
      - vchat_network

  certbot:
    image: certbot/certbot
    volumes:
      - ./docker/certbot/www/:/var/www/certbot/
      - ./docker/certbot/conf/:/etc/letsencrypt/
